/* custom styles */

img {
    height: 50px;
    width: 50px;
    border-radius: 28px;
    border: 3px solid black;
    position: relative;
    top: 15px;
}

p {
    color: #80BA5D;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #80BA5D;
}
a:hover {
    color: #267158;
}

body {
	background-color: #72AA98;
}

nav li {
    display: inline-block;
    background-color: #0E553E;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

nav ul {
    margin: 0;
}

nav {
	background-color: #0E553E;
}

li:hover {
    background-color: #B1DF95;
    border-radius: 5px;
}
nav h1{
    color: #0E553E;
}
h1 {
    font-family: 'Rubik One', sans-serif;
    color: #80BA5D;
}

.content-class {
    background-color: #0E553E;
    font-color: #80BA5D;
}
.block {
    display: block;
}

.listholder {
    width: 200px;
}

.green * li:hover {
    background-color: #AAFFAA;
}

.hero {
    background-color: rgba(20, 20, 25, .6);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    color: white;
    font-family: 'Cairo', sans-serif;
}

header {
    background-color: #72AA98;
    padding-bottom: 1px;
}


.topBox {
    float: left;
    display: inline-block;
    width: 250px;
    margin: 2%;
    background-color: #267158;
    border-radius: 5px;
    color: #80BA5D;
}

.row {
    margin: 50px 50px 0 50px;
    background-color: #0E553E;
    display: block;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0
    color: #80BA5D;
}

.maintext {
	background-color: #0E553E;
	margin: 20px 5%;
	padding: 15px;
}

.topBox li {
	margin-right: 10px;
	margin-bottom: 4px;
    text-align: center;
}
#one {
    color: #80BA5D;
}

.boxed {
    border-radius: 5px;
    border: 2px, solid, black;
    
}

.sam {
    color: #0E553E;
    padding-left: 30px;
    display: inline-block;
    padding-bottom: 20px;
    margin-left: 20px;
    padding-right: 20px;
}
.sam:hover{
    color: #80BA5D;
    background-color: #0E553E;
    border-radius: 5px;

}

